body {
	font-family: Poppins-Regular, sans-serif;
	font-size: 12px;
	background: #f5f8fa;
}

ol, ul {
	margin: 0px;
	padding: 0px;
}

.breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #dff0d8;
    border-radius: 0px;
}

.category-box {
  border:1px solid #ccc; 
  border-radius:4px;
  padding: 2px 0px;
  margin-top:5px;
  text-align:center;
}

.category-box i {
  color: #cccccc;
}

.category-box:hover {
  cursor: pointer;
  border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.category-box:hover i {
  color: #5cb85c;
}

.profile {
  width: 100%;
  position: relative;
  background: #FFF;
  border: 1px solid #D5D5D5;
  padding-bottom: 5px;
}

.profile .image {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border: 5px solid #FFF;
}

.profile .user {
  position: relative;
  padding: 0px 5px 5px;
}

.profile .user .avatar {
  position: absolute;
  left: 20px;
  top: -75px;
  z-index: 2;
}

.profile .user h2 {
  font-size: 16px;
  line-height: 20px;
  display: block;
  float: left;
  margin: 4px 10px 10px 135px;
  font-weight: bold;
}

.profile .user .description {
  float: right;
  color: #666666;
}

.profile .user .actions {
  float: right;

}

.profile .user .actions .btn {
  margin-bottom: 0px;
}

.profile .info {
    width: 100%;
    float: left;
    padding-left: 20px;
}

.img-profile{
    height:100px;
    width:100px;
}

.img-cover{
    /*width:700px;*/
    height:300px;
}

.nav-pills.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

.navbar {
    border-radius: 0px;
}

.komalhover {
  float: left;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.boximg {
  position: absolute;
  transition: top 1s ease-out 0s;
}

.boxtitle {
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.box-showcase:hover .overlay {
  height: 30%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 3px;
}

.navbar-default .navbar-nav>li>a {
    color: #337ab7;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #d6e9c6; 
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #337ab7;
    background-color: #dff0d8;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #dff0d8;
    border-color: #337ab7;
}

.alert-xs {
  padding: 5px; 
  margin-bottom: 0px;
}

.box-text {
  padding: 9.5px; margin: 0 0 10px;     font-size: 13px;
  line-height: 1.42857143;color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f8fa;
  border-radius: 4px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 0px; 
}

.input-group-addon {
  cursor: pointer;
}

table thead tr {
  font-size: 12px;
  background: #f5f8fa;
}

table tbody tr {
  font-size: 12px;
}